// Set image location.
$breadcrumb-divider: "▶" !default;
$breadcrumb-divider-rtl: "◀" !default;

// Import the bootstrap variables.
//@import "bootstrap/bootstrap";

// Core variables and mixins
//@import "bootstrap/custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/animation";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/tags";
//@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/responsive-embed";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
//@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";





// Specific overrides to make Bootstrap RTL.
@import "moodle/bootstrap-rtl";

// Old Moodle stuff from base theme.
// Massive, needs broken up.
@import "moodle/core";
@import "moodle/icons";
@import "moodle/admin";
//@import "moodle/blocks";
@import "moodle/bootswatch";
//@import "moodle/calendar";
@import "moodle/course";
@import "moodle/drawer";
@import "moodle/filemanager";
@import "moodle/message";
@import "moodle/question";
@import "moodle/user";
@import "moodle/search";
@import "moodle/forms";
@import "moodle/login";
@import "moodle/modules";
@import "moodle/chat";
@import "moodle/reports";
@import "moodle/backup-restore";
@import "moodle/tables";
@import "moodle/buttons";
@import "moodle/grade";
@import "moodle/templates";
@import "moodle/undo";
@import "moodle/debug";
@import "moodle/expendable";
@import "moodle/sticky-footer";
@import "moodle/popover-region";
@import "moodle/tool_usertours";
@import "moodle/responsive-tabs";
@import "moodle/bs2-compat";
@import "moodle/print";

@import "bloom/bloom";
